@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --blue: #0a58ca;
  --black: #000000;
  --gray: #a6a6a6;
  --light-gray: #e1e1e1;
  --extra-light-gray: #f8f9fa;
  --green: #198754;

  --lime: #20c997;
  --yellow: #ffc107;
  --red: #dc3545;

  --bg-color: var(--blue);
  --text-color: var(--black);
  --text-color-light: var(--gray);
  --border: 1px solid var(--light-gray);
  --padding: 20px;
}

#app {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
